@font-face {
    font-family: 'frontendmanager';
    src:    url('frontendmanager.eot?3e7xuh');
    src:    url('frontendmanager.eot?3e7xuh#iefix') format('embedded-opentype'),
        url('frontendmanager.ttf?3e7xuh') format('truetype'),
        url('frontendmanager.woff?3e7xuh') format('woff'),
        url('frontendmanager.svg?3e7xuh#frontendmanager') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'frontendmanager' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-earth:before {
    content: "\e902";
}
.icon-settings:before {
    content: "\e903";
}
.icon-users:before {
    content: "\e901";
}
.icon-edit:before {
    content: "\e900";
}

