@import "../fonts/flaticon.css";

:root {
    --fm-color-primary: #2F4150;
    --fm-color-secondary: #3B5C69;
    --fm-index: 1040;
}

.fm-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em .5em;
    background-color: var(--fm-color-primary);
    font: normal 13px "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: fixed;
    z-index: var(--fm-index);
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
}

.fm-row {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex: 1;
    gap: .5em;
}

.fm-panel a {
    display: inline-flex;
    gap: .5em;
    align-items: center;
    color: #fff !important;
    padding: 0 1em;
    outline: 0 !important;
    text-decoration: none !important;
    transition: background-color .3s;
    border-radius: 1.6em;
    height: 2.5em;
    line-height: 1;
}

.fm-panel a > img {
    height: 1.5em;
    width: 1.5em;
}

.fm-panel a.fm-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    background-color: var(--fm-color-primary);
    padding: 0;
    border-radius: 100%;
    margin-right: 1em;
}

.fm-panel a:hover {
    background-color: var(--fm-color-secondary);
    opacity: 1;
}

.fm-panel a span[class^="fm-icon-"] > img {
    display: none;
}

.fm-panel a span[class^="fm-icon-"]:before {
    font-size: 1em;
    margin: 0
}

.fm-link-text {
    margin-top: 2px;
    white-space: nowrap;
}

.fm-panel.button {
    display: inline-block;
    position: static;
    padding: 0 1em;
    color: #fff
}

.fm-panel.button:hover {
    background: var(--fm-color-secondary);
    text-decoration: none
}

body.fm-pos-bottom .fm-panel {
    bottom: 0;
    top: auto;
}

body.fm-hide .fm-panel, body.fm-hide .fm-row {
    background-color: transparent;
    pointer-events: none;
    overflow-x: hidden;
}

body.fm-hide .fm-panel a {
    opacity: 0;
    pointer-events: none;
}

body.fm-hide .fm-panel a.fm-mode {
    opacity: 1;
    pointer-events: all;
    z-index: var(--fm-index);
}

/* Modal */
.fm-modal {
    position: fixed;
    z-index: calc(var(--fm-index) + 1);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.fm-modal iframe {
    width: 100%;
    height: 100%;
    border-radius: .4em;
}

.fm-modal .fm-iframe-wrapper {
    width: 80vw;
    height: 80vh;
    border: 0;
    position: absolute;
    background-color: var(--fm-color-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .4em;
}

.fm-modal .fm-iframe-wrapper::before {
    content: 'Загрузка...';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    font-size: 2em;
}

.fm-modal .fm-btn-close {
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    background-color: var(--fm-color-primary);
    color: white;
    border: none;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    padding: .125em;
    z-index: calc(var(--fm-index) + 2);
    transition: background-color .3s;
}

.fm-modal .fm-btn-close::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns="http://www.w3.org/2000/svg"%20fill="none"%20viewBox="0%200%2024%2024"%20stroke-width="1.5"%20stroke="white"%3E%3Cpath%20stroke-linecap="round"%20stroke-linejoin="round"%20d="M9.75%209.75l4.5%204.5m0-4.5l-4.5%204.5M21%2012a9%209%200%2011-18%200%209%209%200%200118%200z"%20/%3E%3C/svg%3E');
}

.fm-modal .fm-btn-close:hover {
    background-color: var(--fm-color-secondary);
}
/* Modal END */

@media only screen and (max-width: 1280px) {
    .fm-panel a span[class^="fm-icon-"] {
        margin: 0;
    }

    .fm-panel a span.fm-link-text {
        display: none;
    }

    .fm-modal .fm-iframe-wrapper {
        width: calc(100vw - 1em);
        height: calc(100vh - 1em);
    }
}
